<template>
  <div>
    <hr />
    <button @click="redirectToHome()">Go to Home</button>
    <button @click="redirectToEmployee()">Go to Employee</button>
    <hr />
    <h2 align="center">{{ title }}</h2>
    <!-- <h1>{{ temp }}</h1> -->
    <div class="text-center border border-light p-5">
      <button class="btn btn-success mt-5 mb-5" @click="showAddModal = true">
        <i class="fas fa-User"></i>&nbsp;&nbsp;Add Task
      </button>
    </div>
    <div class="flex-table">
      <div class="col-lg-12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr class="text-center bg-info text-light">
              <th scope="row">ID</th>
              <th scope="col">TaskName</th>
              <th scope="col">TaskDescription</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(todo, index) in todos" :key="index" class="display">
              <th scope="row">{{ index + 1 }}</th>
              <td>
                <div>
                  <input
                    type="text"
                    v-model="todo.taskVal"
                    :disabled="!isEditing"
                    :class="{ view: !isEditing }"
                  />
                </div>
              </td>
              <td>
                <div>
                  <input
                    type="text"
                    v-model="todo.description"
                    :disabled="!isEditing"
                    :class="{ view: !isEditing }"
                  />
                </div>
              </td>
              <td>
                <div>
                  <div>
                    <button @click="isEditing = !isEditing">
                      {{ isEditing ? "Save" : "Edit" }}
                    </button>
                    <button v-if="isEditing" @click="isEditing = false">
                      Cancel
                    </button>
                  </div>
                  <!-- <div>
                    <button
                      type="button"
                      @click="deleteTodo(todo)"
                      class="btn btn-danger mx-2"
                    >
                      DELETE
                    </button>
                  </div> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div v-if="showAddModal">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Task Management</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true" @click="showAddModal = false"
                      >&times;</span
                    >
                  </button>
                </div>
                <div class="text-center border border-light p-5">
                  <form @submit.prevent="addTodo">
                    <div class="h4 mb-4">
                      <label for="taskValue">TASK NAME</label>
                      <select
                        class="browser-default custom-select mb-4"
                        name="taskValue"
                        v-model="taskValue"
                      >
                        <option value="Choose the Task Type"
                          >Choose The Task Type</option
                        >
                        <option value="Task1">Task1</option>
                        <option value="Task2">Task2</option>
                        <option value="Task3">Task3</option>
                        <option value="Task4">Task4</option>
                        <option value="Task5">Task5</option>
                      </select>
                    </div>
                    <div class="h4 mb-4">
                      <label for="taskdescription">TASK DESCRIPTION</label>
                      <textarea
                        id="taskdescription"
                        name="taskdescription"
                        v-model="newDesc"
                        class="form-control"
                        placeholder="Task Description"
                      ></textarea>
                    </div>
                    <div>
                      <div>
                        <button
                          class="btn btn-danger"
                          type="submit"
                          name="button"
                        >
                          Save
                        </button>

                        <button
                          @click="showAddModal = false"
                          class="btn btn-primary"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      showAddModal: false,
      isEditing: false,
    };
  },
  mounted() {
    this.cachedUser = Object.assign({}, this.todos);
  },
  computed: {
    newTodo: {
      get() {
        return this.$store.state.newTodo;
      },
      set(value) {
        this.$store.commit("setNewTodo", value);
      },
    },
    taskValue: {
      get() {
        return this.$store.state.taskValue;
      },
      set(value) {
        this.$store.commit("setTaskValue", value);
      },
    },
    newDesc: {
      get() {
        return this.$store.state.newDesc;
      },
      set(value) {
        this.$store.commit("setNewDesc", value);
      },
    },
    ...mapState(["title", "todos"]),
  },
  methods: {
    ...mapActions(["addTodo"]),
    save() {
      this.cachedTodos = Object.assign({}, this.todos);
      this.isEditing = false;
    },
    cancel() {
      this.todos = Object.assign({}, this.cachedTodos);
      this.isEditing = false;
    },
    deleteTodo(todo) {
      this.$store.dispatch("deleteTodo", todo);
    },
    redirectToHome() {
      this.$router.push({ path: "/Home" });
    },
    redirectToEmployee() {
      this.$router.push({ path: "/Employee" });
    },
  },
};
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 70%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
}
.modal-default-button {
  float: right;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

button {
  padding: 0.75rem 1.5rem;
  font-family: inherit;
  background-color: green;
  border: 1px solid #3a0061;
  color: white;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #270041;
  border-color: #270041;
}
.view {
  border-color: transparent;
  background-color: initial;
  color: initial;
}
.flat {
  background-color: transparent;
  color: #3a0061;
  border: none;
}

.flat:hover,
.flat:active {
  background-color: #edd2ff;
}
</style>
