<template>
  <div>
    <div class="container-fluid">
      <div class="row bg-dark">
        <div class="col-lg-12">
          <h1
            class="text-center-right text-light display-8 pt-2"
            style="font-size:35px;"
          >
            Employers task management system
          </h1>
        </div>
      </div>
    </div>
    <hr />
    <div style="width:500px;" id="container">
      <div>
        <button @click="redirectToEmployee()">
          Employees({{ employees.length }})
        </button>
      </div>
      <div>
        <button @click="redirectToTask()">Task({{ todos.length }})</button>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      todos: "getdata",
      employees: "employeesdata",
    }),
  },
  methods: {
    redirectToEmployee() {
      this.$router.push({ path: "/employee" });
    },
    redirectToTask() {
      this.$router.push({ path: "/Task" });
    },
  },
};
</script>

<style scoped>
h1 {
  text-align: center;
}
.ctr {
  width: 500px;
  margin: auto;
  text-align: center;
}
.ctr a {
  margin: 10px;
  display: inline-block;
  border: 1px solid #539b29;
  border-radius: 3px;
  width: 100px;
  padding: 10px;
  color: #539b29;
}
.ctr a:hover {
  background-color: #539b29;
  color: white;
}

#container div {
  display: inline-block;
  width: 130px;
}
</style>
